
<div class="container">

    <div class="row">

        <div class="col">

            <h1>Our products</h1>

            <h2 class="product-title first-product-title">Bankmeister</h2>

            <div class="center-horizontally">
                <img class="product-logo" src="assets/BankmeisterLogo.svg" />
            </div>

        </div>

    </div>

    <div class="row">

        <div class="col align-column-horizontally">

            <h4 class="product-description">
                Multibanking app for iOS, Android and Desktop
            </h4>

                <ul class="product-features">
                    <li>
                        Supports more than 13.000 German banks
                    </li>
                    <li>
                        Fast
                    </li>
                    <li>
                        Intuitive UI
                    </li>
                    <li>
                        Protects your privacy: Data is exclusively saved locally and app only communicates with your bank
                    </li>
                    <li>
                        Absolutely free: No ads, doesn't send data to advertising networks, no in-app purchases, no paid pro versions
                    </li>
                    <li>
                        Open source: Everyone can check the source code and see that we keep what we promise
                    </li>
                </ul>

        </div>

    </div>

    <div class="row">

        <div class="col">

            <h4 class="product-description">
                Get it for
            </h4>

        </div>

    </div>

    <div class="row">

        <div class="col">

            <a class="align-column-horizontally" href="https://testflight.apple.com/join/Bu4K7aL5">
                <img class="app-store-logo" src="assets/app-stores/en/appstore-badge-en.svg" />
                <div class="app-store-link-title">iOS</div>
            </a>

        </div>

        <div class="col">

            <a class="align-column-horizontally" href='https://play.google.com/store/apps/details?id=net.codinux.banking.android&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'>
                <img class="app-store-logo" alt='Get it on Google Play' src='assets/app-stores/en/playstore-badge-en.png'/>
                <div class="app-store-link-title">Android</div>
            </a>

        </div>

        <div class="col">

            <a class="align-column-horizontally" [routerLink]="['/downloads']">
                <img class="app-store-logo" src="assets/app-stores/material-design-laptop_windows-24px-without-borders.svg" />
                <div class="app-store-link-title">Desktop</div>
            </a>

        </div>

    </div>


    <!--        fints4k      -->

    <div class="row">

        <div class="col align-column-horizontally">

            <h2 class="product-title">fints4k</h2>

            <h4 class="product-description">
                Implementation of the German multibanking standard <a href="https://www.hbci-zka.de/spec/spezifikation.htm">FinTS 3.0</a>
            </h4>

        </div>

    </div>

    <div class="row">

        <div class="col align-column-horizontally">

            <ul class="product-features">
                <li>
                    Fast
                </li>
                <li>
                    Abstracts away the complexity of FinTS from user
                </li>
                <li>
                    Supported by more than 13.000 of 16.000 German banks
                </li>
                <li>
                    Free for uncommerical projects, fair prices for commercial projects
                </li>
                <li>
                    Available for many platforms: JVM, Android, iOS and JavaScript
                </li>
            </ul>

        </div>

    </div>

    <div class="row">

        <div class="col align-column-horizontally">

            <h4 class="product-description">Interested? Contact us: <a href="mailto:sales@codinux.net?subject=fints4k">sales@codinux.net</a> </h4>

        </div>
    </div>


    <!--        EPC QR code parser      -->

    <div class="row">

        <div class="col align-column-horizontally">

            <h2 class="product-title">EPC QR code parser</h2>

            <div class="center-horizontally">
                <img class="product-logo" src="assets/EpcQrCodeParserLogo.png" />
            </div>

            <h4 class="product-description">
                The <a href="https://en.wikipedia.org/wiki/EPC_QR_code">EPC QR code</a>, marketed as GiroCode, Scan2Pay or Zahlen mit Code amongst others,
                is a QR code defined by the European Payments Council which contains all data to initiate a SEPA credit transfer.
            </h4>

            <h4 class="product-description">
                Our EPC QR code parser is available for many platforms (JVM, Android, iOS, JavaScript) and freely available to everyone.
            </h4>

        </div>

    </div>

</div>

