
.product-title {
    width: 100%;

    margin-top: 90px;

    text-align: center;

    font-size: 32px;
}

.first-product-title {
    margin-top: 40px;
}

.product-description {
    max-width: 700px;
}

.product-logo {
    width: 150px;

    height: 150px;

    margin-bottom: 24px;
}

.product-features {
    max-width: 600px;

    font-size: 18px;
}


.app-store-logo {
    height: 90px;

    margin-top: 16px;
    margin-bottom: 12px;
}

.app-store-link-title {
    font-size: 18px;
}
