
.product-title {
    width: 100%;

    margin-top: 120px;

    text-align: center;

    font-size: 32px;
}

.first-product-title {
    margin-top: 40px;
}

.product-description {

}

.product-logo {
    width: 150px;

    height: 150px;
}


.app-store-links-container {
    margin-bottom: 50px;
}

.app-store-logo {
    width: 130px;

    height: 130px;

    margin-bottom: 8px;
}
