
$app-store-logo-height: 130px;

$appstore-logo-width: calc(#{$app-store-logo-height} * 2.9941348973607); /* Appstore logo's width to height ratio is 2,9941348973607 -> width = 130px * 2,9941348973607 */
$appstore-logo-padding: 20px; /* PlayStore logo has some invisible padding around it, so we also have to apply this padding to Appstore logo */

$playstore-logo-width: calc(#{$app-store-logo-height} * 2.584); /* PlayStore logo's width to height ratio is 2,584 -> width = 130px * 2,584 */


.product-title {
    width: 100%;

    margin-top: 90px;

    text-align: center;

    font-size: 32px;
}

.first-product-title {
    margin-top: 40px;
}

.product-description {
    max-width: 700px;
}

.product-logo {
    width: 150px;

    height: 150px;

    margin-bottom: 24px;
}

.product-features {
    max-width: 600px;

    font-size: 18px;
}

.app-store-logo {
    width: $appstore-logo-width; /* = width of the largest icon */

    height: $app-store-logo-height;

    margin-bottom: 8px;
}

.app-store-logo-appstore {
    width: $appstore-logo-width;

    padding-top: $appstore-logo-padding;
    padding-bottom: $appstore-logo-padding;
}

.app-store-logo-playstore {
    width: $playstore-logo-width;
}

.app-store-link-title {
    font-size: 18px;
}
