<h1>Our products</h1>

<h2 class="product-title">Bankmeister</h2>

<div class="center-horizontally">
    <img class="product-logo" src="assets/BankmeisterLogo.svg" />
</div>

<h4 class="product-description">
    Multibanking app for iOS and Android
</h4>

<ul>
    <li>
        Supports more than 13.000 German banks
    </li>
    <li>
        Fast
    </li>
    <li>
        Intuitive UI
    </li>
    <li>
        Protects your privacy: Data is exclusively saved locally and app only communicates with your bank
    </li>
    <li>
        Absolutely free: No ads, doesn't send data to advertising networks, no in-app purchases, no paid pro versions
    </li>
    <li>
        Open source: Everyone can check the source code and see that we keep what we promise
    </li>
</ul>

<h4 class="product-description">
    Get on
</h4>


<h2 class="product-title">fints4k</h2>

<h4 class="product-description">
    Implementation of the German multibanking standard <a href="https://www.hbci-zka.de/spec/spezifikation.htm">FinTS 3.0</a>
</h4>

<ul>
    <li>
        Fast
    </li>
    <li>
        Abstracts away the complexity of FinTS from user
    </li>
    <li>
        Supported by more than 13.000 of 16.000 German banks
    </li>
    <li>
        Free for uncommerical projects, fair prices for commercial projects
    </li>
    <li>
        Available for many platforms: JVM, Android, iOS and JavaScript
    </li>
</ul>

<h4 class="product-description">Interested? Contact us: <a href="mailto:sales@codinux.net?subject=fints4k">sales@codinux.net</a> </h4>


<h2 class="product-title">EPC QR code parser</h2>

<div class="center-horizontally">
    <img class="product-logo" src="assets/EpcQrCodeParserLogo.png" />
</div>

<h4 class="product-description">
    The <a href="https://en.wikipedia.org/wiki/EPC_QR_code">EPC QR code</a>, marketed as GiroCode, Scan2Pay or Zahlen mit Code amongst others,
    is a QR code defined by the European Payments Council which contains all data to initiate a SEPA credit transfer.
</h4>

<h4 class="product-description">
    Our EPC QR code parser is available for many platforms (JVM, Android, iOS, JavaScript) and freely available to everyone.
</h4>

