<h1>About</h1>

<div>
    <div class="about-line">codinux GmbH & Co. KG</div>
    <div class="about-line">Kürnbergstraße 36</div>
    <div class="about-line">81369 München</div>
</div>

<div class="about-new-paragraph">
    <div class="about-line">Amtsgericht München HRA 112993</div>
</div>


<div class="about-new-paragraph, about-new-section">
    <div class="about-line">Persönlich haftende Gesellschafterin der codinux GmbH & Co. KG:</div>
</div>

<div class="about-new-paragraph">
    <div class="about-line">codinux Verwaltungs-GmbH</div>
    <div class="about-line">Kürnbergstraße 36</div>
    <div class="about-line">81369 München</div>
</div>

<div class="about-new-paragraph">
    <div class="about-line">Geschäftsführer</div>
    <div class="about-line">Marieke Schmidt, Christian Dankl</div>
</div>

<div class="about-new-paragraph">
    <div class="about-line">Amtsgericht München HRB 259937</div>
</div>


<div class="about-new-paragraph, about-new-section">
    <div class="about-line">E-Mail: info@codinux.net</div>
</div>


<div class="about-new-paragraph, about-new-section">
    <div class="about-line">Datenschutz</div>
</div>

<div class="about-new-paragraph">
    <div class="about-line">
        Die Nutzung unserer Webseite ist in der Regel ohne Angabe personenbezogener Daten möglich.
        Soweit auf unseren Seiten personenbezogene Daten (beispielsweise Name, Anschrift oder eMail-Adressen) erhoben werden,
        erfolgt dies, soweit möglich, stets auf freiwilliger Basis. Diese Daten werden ohne Ihre ausdrückliche Zustimmung
        nicht an Dritte weitergegeben. Wir weisen darauf hin, dass die Datenübertragung im Internet
        (z.B. bei der Kommunikation per E-Mail) Sicherheitslücken aufweisen kann. Ein lückenloser Schutz der Daten vor dem
        Zugriff durch Dritte ist nicht möglich. Der Nutzung von im Rahmen der Impressumspflicht veröffentlichten Kontaktdaten
        durch Dritte zur Übersendung von nicht ausdrücklich angeforderter Werbung und Informationsmaterialien wird hiermit
        ausdrücklich widersprochen. Die Betreiber der Seiten behalten sich ausdrücklich rechtliche Schritte im Falle der
        unverlangten Zusendung von Werbeinformationen, etwa durch Spam-Mails, vor.
    </div>
</div>
