<h1>Bankmeister</h1>

<h2 class="platform-title">Java 8</h2>

<p class="product-download-hint">Requires Java 8 including JavaFX to be installed</p>

<p class="product-download-link">
    <a href="https://codinux.net/apps/bankmeister/Bankmeister-1.0.0 Alpha 5.jar">Download</a>
</p>

<h2 class="platform-title">Android</h2>

<p class="product-download-link">
    <a href="https://play.google.com/store/apps/details?id=net.codinux.banking.android">Download</a>
</p>

<h2 class="platform-title">iOS</h2>

<p class="product-download-link">
    <a href="https://testflight.apple.com/join/Bu4K7aL5">Download for TestFlight</a>
</p>
