
.page-logo-picture {
    height: 40px;

    margin-right: 12px;
}

.page-logo-name {
    height: 28px;
}

/* TODO: use Bootstrap instead of hard coding space between navigation links */
.top-bar-navigation-link {
    margin-left: 30px;
}
