
<nav class="top-bar">

  <a class="navbar-brand align-row-horizontally" [routerLink]="['/']">
    <img class="page-logo" src="assets/codinux_logo.png" />
  </a>


  <button class="navbar-toggler ml-auto custom-toggler" type="button" data-toggle="collapse" (click)="toggleSideBarVisibility()">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" [ngbCollapse]="isSideBarCollapsed" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="top-bar-navigation-link" [routerLink]="['/epcqrcode']" (click)="toggleSideBarVisibility()">
          EPC QR code
        </a>
      </li>
      <li class="nav-item">
        <a class="top-bar-navigation-link" [routerLink]="['/downloads']" (click)="toggleSideBarVisibility()">
          Downloads
        </a>
      </li>
    </ul>
  </div>

</nav>
