
<div class="container">

    <div class="row">

        <div class="col center-horizontally">

            <h1>Logo</h1>

            <p>Einfach nur um das Logo zu zeigen - weil ich es so geil finde</p>

        </div>

    </div>


    <div class="row logo-row">

        <div class="col center-horizontally">

            <img src="assets/favicons/apple-touch-icon.png">

        </div>

    </div>


    <div class="row logo-row">

        <div class="col center-horizontally">

            <p>Schlecht freigestellt, ich weiß</p>

            <img src="assets/logo/wortmarke_farbkombination_1_positiv_orange_modern.png">

        </div>

    </div>


    <div class="row logo-row">

        <div class="col center-horizontally">

            <h1 class="zwischenueberschrift">Farbkombination 4:</h1>

            <img src="assets/logo/bildmarke_orange_modern_18293D.png">

        </div>

    </div>


    <div class="row logo-row">

        <div class="col center-horizontally">

            <p>Schlecht freigestellt, ich weiß</p>

            <img src="assets/logo/wortmarke_positiv_orange_modern_18293D.png">

        </div>

    </div>

</div>
