/* Global Styles */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";


//$ci-color: #1D344D;
$ci-color: #18293D;
$ci-color-accent: #FFBF00;
//$ci-color-accent: #CCFF00;


* {
  font-family: 'Roboto', Arial, sans-serif;
  color: #616161;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}


/* Text */

h1 {
  font-size: 32px;
}

h2 {
  font-size: 20px;
}

h1, h2 {
  font-weight: lighter;
}

p {
  font-size: 14px;
}

/* Hyperlink */

a {
  cursor: pointer;
  color: $ci-color-accent;
  text-decoration: none;
}

a:hover {
  opacity: 0.8;
}

/* Input */

input {
  font-size: 14px;
  border-radius: 2px;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #BDBDBD;
}

label {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 4px;
  display: block;
  text-transform: uppercase;
}

/* Button */
.button, button {
  width: 175px;
  height: 40px;
  display: grid;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  background-color: $ci-color;
  color: white;
  border: none;
}

.button:hover, button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled, button:disabled {
  opacity: 0.5;
  cursor: auto;
}


// to keep the footer at the bottom, see https://stackoverflow.com/a/51410022
.app-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between
}

.content-container {
  display: flex;
  flex-direction: row;
}

router-outlet + *  {
  padding: 0 16px;
}


.container {
  width: 100%;
}


/* Top Bar */

app-top-bar, app-footer {
  width: 100%;
  background-color: $ci-color;
  padding: 16px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

app-top-bar {
  height: 84px;

  display: flex;
  align-items: center;
  flex-direction: row;

  margin-bottom: 12px;
}

app-footer {
  height: 68px;
  margin-top: 100px;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.navigation-link {
  color: white;
  margin: 0;
}


/*  Products  */

/* TODO: why doesn't this work in products.component.scss? */
app-products {
  width: 100%;
}


/*  common  */

.line {
  font-size: 19px;

  max-width: 700px;

  margin-bottom: 8px;
}

.new-paragraph {
  margin-top: 35px;
}

.new-section {
  margin-top: 55px;
}


.align-row-horizontally {

  display: flex;
  align-items: center;
  flex-direction: row;
}

.align-column-horizontally {

  display: flex;
  align-items: center;
  flex-direction: column;
}

.center-horizontally {
  width: 100%;

  text-align: center;
}

.centered-child {
  text-align: center;

  margin-left: auto !important;
  margin-right: auto !important;
}
