<div class="container align-column-horizontally">

    <div class="row">

        <div class="col align-column-horizontally">

            <p>
                The EPC QR code, marketed under names like GiroCode, Scan2Pay or Zahlen mit Code, is a QR code that
                contains all relevant payment data like recipient, IBAN, BIC. That makes transferring money a breeze.
            </p>

            <p>
                Here you can create yours for free!
            </p>

        </div>

    </div>


    <div class="row">

        <div class="col align-column-horizontally">

            <form class="form" [formGroup]="createEpcQrCodeForm" (ngSubmit)="onSubmit(createEpcQrCodeForm.value)">

                <div class="form-section">
                    <label for="receiverName">
                        Receiver Name
                    </label>
                    <input id="receiverName" class="form-input" type="text" formControlName="receiverName">
                </div>

                <div class="form-section">
                    <label for="iban">
                        IBAN
                    </label>
                    <input id="iban" class="form-input" type="text" formControlName="iban">
                </div>

                <div class="form-section">
                    <label for="bic">
                        BIC
                    </label>
                    <input id="bic" class="form-input" type="text" formControlName="bic">
                </div>

                <div class="form-section">
                    <label for="amount">
                        Amount
                    </label>
                    <input id="amount" class="form-input" type="number" pattern="[0-9]+([\,][0-9]{0, 2})?" step=".01" (keydown)="ensureCorrectNumberFormat($event)" formControlName="amount" >
                </div>

                <div class="form-section">
                    <label for="reference">
                        Reference
                    </label>
                    <input id="reference" class="form-input" type="text" formControlName="reference">
                </div>

                <button class="button" type="submit">Generate</button>

            </form>

        </div>

    </div>


    <div class="row">

        <div class="col align-column-horizontally">

            <div #qrCodeView>

            </div>

        </div>

    </div>

</div>

